.facetwp-layout-switcher {
    margin-bottom: 40px;
}

.facetwp-layout-switcher ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.facetwp-layout-switcher li {
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.facetwp-layout-switcher li:last-child {
    margin-right: 0;
}

.facetwp-layout-switcher .label {
    line-height: 1em;
    display: inline-block;
    margin: 0 12px 0 0;
}

/* type text */
.facetwp-layout-switcher.type-text li.active a {
    font-weight: bold;
}

.facetwp-layout-switcher.type-text li:after {
    margin-right: 4px;
    margin-left: 4px;
    content: "|";
    color: #aaa;
}

.facetwp-layout-switcher.type-text li:last-child:after {
    margin: 0;
    content: none;
}

/* type icons */

.facetwp-layout-switcher.type-icons ul {
    line-height: 1em;
    vertical-align: middle;
}

.facetwp-layout-switcher.type-icons li {
    margin: 0 10px 0 0;
}

.facetwp-layout-switcher.type-icons li a {
    display: inline-block;
    width: 21px;
    height: 16px;
}

.facetwp-layout-switcher.type-icons a span {
    display: none;
}

.facetwp-layout-switcher.type-icons li a {
    background-color: #ccc;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.facetwp-layout-switcher.type-icons li a:hover {
    background-color: #888;
}

.facetwp-layout-switcher.type-icons li.active a {
    background-color: #888;
}

.facetwp-layout-switcher.type-icons li[data-value="singletarget-mode-4-columns"] a {
    -webkit-mask: url('../images/4-columns.svg') no-repeat 0 0;
    mask: url('../images/4-columns.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="singletarget-mode-3-columns"] a {
    -webkit-mask: url('../images/3-columns.svg') no-repeat 0 0;
    mask: url('../images/3-columns.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="singletarget-mode-2-columns"] a {
    -webkit-mask: url('../images/2-columns.svg') no-repeat 0 0;
    mask: url('../images/2-columns.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="singletarget-mode-list"] a {
    -webkit-mask: url('../images/list.svg') no-repeat 0 0;
    mask: url('../images/list.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="singletarget-mode-compact-list"] a {
    -webkit-mask: url('../images/compact-list.svg') no-repeat 0 0;
    mask: url('../images/compact-list.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="multitarget-mode-results"] a {
    -webkit-mask: url('../images/compact-list.svg') no-repeat 0 0;
    mask: url('../images/compact-list.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="multitarget-mode-map"] a {
    -webkit-mask: url('../images/compact-list.svg') no-repeat 0 0;
    mask: url('../images/map.svg') no-repeat 0 0;
}

.facetwp-layout-switcher.type-icons li[data-value="multitarget-mode-both"] a {
    -webkit-mask: url('../images/compact-list.svg') no-repeat 0 0;
    mask: url('../images/both.svg') no-repeat 0 0;
}

/* type fselect */
.facetwp-layout-switcher.type-fselect .fs-wrap {
    vertical-align: middle;
}

/* built-in column styles */
.singletarget-mode-4-columns .fwpl-layout {
    grid-template-columns: repeat(4, 1fr);
}

.singletarget-mode-3-columns .fwpl-layout {
    grid-template-columns: repeat(3, 1fr);
}

.singletarget-mode-2-columns .fwpl-layout {
    grid-template-columns: repeat(2, 1fr);
}

.singletarget-mode-list .fwpl-layout,
.singletarget-mode-compact-list .fwpl-layout {
    grid-template-columns: repeat(1, 1fr);
}

/* built-in map/listing styles */

.facetwp-template.multitarget-mode-results,
.facetwp-template-static.multitarget-mode-results,
.facetwp-template.multitarget-mode-both,
.facetwp-template-static.multitarget-mode-both {
    display: block;
}

.facetwp-template.multitarget-mode-map,
.facetwp-template-static.multitarget-mode-map {
    display: none;
}

.facetwp-type-map.multitarget-mode-results {
    display: none;
}

.facetwp-type-map.multitarget-mode-map,
.facetwp-type-map.multitarget-mode-both {
    display: block;
}







